.fundedContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  flex-direction: row;

  .fundedBox {
    width: 300px;
    height: 360px;
    background-color: skyblue;
    margin-right: 10px;
  }
}
