@import '../../../../styles/common.scss';

.productHeader {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 6px;
  background-color: #a29584;

  button {
    position: absolute;
    margin: 20px 10px;
    border: none;
    background-color: inherit;
    color: #fff;
    font-size: 16px;
    font-weight: 200;

    i {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .productInfoContainer {
    display: flex;
    align-items: center;
    margin: auto;

    p {
      max-width: 800px;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
    }

    .makerImg {
      width: 40px;
      height: 40px;
      margin: 10px;
      background-color: #fff;
      border-radius: 50%;
    }
  }

  .makerName {
    color: #fff;
    font-size: 14px;
  }

  .orderDetails {
    width: 650px;
    height: 200px;
    background-color: #fdfdfd;
  }
}
