@import '../../../../styles/common.scss';

.banner {
  @extend %flex-center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 60px 30px;
  background-image: url(https://cdn.wadiz.kr/wwwwadiz/green001/2021/0113/20210113110358461_96806.jpg/wadiz/format/jpg/quality/80/optimize);

  .category {
    margin-bottom: 20px;
    color: $color-main;
    font-size: 16px;
    font-weight: 500;
  }

  .productTtile {
    color: #fff;
    font-size: 36px;
    text-align: center;
    line-height: 120%;
  }
}
