@import '../../../../styles/common.scss';

.alertModal {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 10;
  overflow: hidden;

  .modalContainer {
    position: relative;
    top: 0;
    width: 560px;
    height: fit-content;
    margin: 70px auto;
    background-color: #fff;

    .modalMain {
      padding: 30px 32px 20px 32px;

      .backToStoryBtn {
        display: flex;
        align-items: center;
        height: 42px;
        color: #0000008a;
        background-color: inherit;
        border: none;
        font-size: 17px;
        font-weight: 400;

        .fa-arrow-left {
          font-size: 12px;
          margin-right: 4px;
        }
      }

      header {
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.3;

        span {
          font-weight: 500;
        }
      }
    }

    .continueToFundingBtn {
      width: 100%;
      height: 56px;
      color: #fff;
      background-color: $color-main;
      border: none;
      font-size: 17px;

      &:disabled {
        background-color: #e3e7ea;
      }
    }
  }
}
