@import '../../styles/common.scss';

.product {
  a {
    color: inherit;
    text-decoration: none;
  }

  .contentsContainer {
    display: flex;
    width: 1024px;
    height: fit-content;
    margin: 40px auto;
    padding: 30px;

    .contents {
      width: 632px;
    }
  }
}
