@import '../../Styles/common.scss';

.myPage {
  //width: 1000px;
  // height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  //background-color: violet;

  // .topInfo {
  //   //background-color: olive;
  //   // width: 100%;
  //   height: 96px;
  //   flex-direction: row;
  //   // margin-bottom: 30px;
  //   // margin-left: 47px;
  //   margin: 0 0 30px 47px;
  //   position: relative;

  //   h1 {
  //     font-size: 40px;
  //     color: #000;
  //     padding-bottom: 15px;
  //   }

  //   p {
  //     font-size: 13px;
  //     color: #a5a2ac;
  //   }

  //   .userImg {
  //     width: 96px;
  //     height: 96px;
  //     border-radius: 50%;
  //     position: absolute;
  //     bottom: 15px;
  //     left: 120px;
  //   }
  // }

  // .activityList {
  //   display: inline-block;
  //   //background-color: yellow;
  //   // width: 100%;
  //   height: 60px;
  //   //margin-bottom: 30px;
  //   margin: 0 0 30px 40px;
  //   display: flex;
  //   // flex-wrap: nowrap;
  //   flex-direction: row;

  //   .box {
  //     display: flex;
  //     flex-direction: column;
  //     //justify-content: center;
  //     align-items: center;
  //     width: 50px;
  //     height: 100%;
  //     //border: 1px solid black;
  //     // flex-direction: row;

  //     strong {
  //       color: #5577f2;
  //       // display: block;
  //       font-size: 24px;
  //       // text-align: center;
  //       padding: 5px 0 10px 0;
  //     }

  //     p {
  //       font-size: 13px;
  //       color: #5577f2;
  //       //text-align: center;
  //     }
  //   }
  // }

  //   .tabList {
  //     cursor: pointer;
  //     // display: flex;
  //     // align-items: center;
  //     //background-color: palegreen;
  //     margin-left: 47px;

  //     margin-bottom: 50px;
  //     width: 100%;
  //     height: 50px;
  //     // border: 1px solid black;

  //     li {
  //       display: inline-block;
  //       font-size: 15px;
  //       padding: 20px 5px;
  //       margin-right: 20px;
  //       //margin-bottom: 67px;
  //       color: $gray-color;
  //       border-bottom: solid #5577f2;
  //     }
  //   }
  // }

  // div {
  //   //background-color: pink;
  //   .wrapper {
  //     margin-left: 47px;
  //     display: flex;
  //     flex-direction: column;
  //     // justify-content: center;
  //     // align-items: center;
  //     width: 1000px;
  //     // height: 60px;
  //     // display: flex;
  //     // flex-direction: column;
  //     background-color: orange;
  //   }

  //   .content {
  //     background-color: #5577f2;
  //   }
}
