@import '../../styles/common.scss';

.myPage {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 200px;
    background-color: olive;

    .category {
      display: flex;
      position: relative;
      right: 50px;
      margin-top: 5px;
      width: 900px;
      height: 30px;
      border: 1px solid black;
      span {
        cursor: pointer;
        //border: 1px solid black;
        border-bottom: 2px solid red;
        margin-right: 15px;
        bottom: 0;
        font-size: 15px;
        color: blue;
      }
    }
  }

  .contents {
    // width: 900px;
    // height: 100vh;
    background-color: lightcoral;
    padding-top: 30px; //background-color: $color-light-gray;
    .click {
      font-weight: 700;
      border: 2px none none solid none red;
    }
  }
}
