@import '../../../../Style/common.scss';

.purchaseReservation {
  width: 650px;
  margin: auto;

  .purchaseInfo {
    color: $color-dark-gray;
    font-size: 14px;

    border-top: 1px solid $color-gray;

    .purchaseReward {
      .title,
      .details {
        padding: 15px;
        font-weight: 400;
      }

      .title {
        color: $color-main;
      }

      .details {
        font-size: 12px;
        color: $color-gray;
      }

      .amountPriceContainer {
        display: flex;
        justify-content: flex-end;

        span {
          font-weight: 400;
          padding: 15px;
        }
      }

      .extraShippingFeeContainer {
        dl {
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #e4e4e4;
          padding: 15px;
        }
      }
    }

    .totalPriceContainer {
      padding: 4px 0;
      background-color: #f9f9f9;
      border-top: 1px dashed $color-gray;
      border-bottom: 1px solid $color-gray;

      dl {
        display: flex;
        justify-content: space-between;
        align-items: center;

        dt {
          padding: 15px 0 15px 15px;
        }

        dd {
          padding: 15px 15px 15px 0;
        }

        .totalPriceTitle {
          color: $color-main;
        }

        .totalPrice {
          color: $color-main;
          font-size: 22px;
        }
      }
    }
  }

  .supporterInfoWrapper {
    display: flex;
    margin-top: 50px;
    font-size: 14px;

    .supporterInfoContainerTitle {
      font-size: 24px;
    }

    .fundingSupporterContainer {
      .supporterInfo {
        width: 315px;
        margin-top: 20px;
        padding: 15px 12px 24px;
        color: $color-black;
        background-color: #eeede9;
        font-weight: 300;

        p {
          padding: 8px 0;
        }

        .supporterInfoContent {
          color: $color-gray;
        }
      }
    }
    .shippingAddressContainer {
      margin-left: 30px;

      .addressInfo {
        width: 300px;
        margin-top: 20px;

        label {
          font-size: 14px;
          color: $color-gray;
          width: 100%;
          display: flex;
          flex-direction: column;

          input {
            width: 100%;
          }
        }
      }
    }
  }

  .paymentMethod {
    display: flex;

    .paymentMethodInput {
      width: 900px;
    }
  }

  .submitPurchaseReservation {
    width: fit-content;
    margin: auto;
    height: 48px;
    padding: 0 24px;
    background-color: $color-main;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
  }
}
