@import '../../../../Style/common.scss';

.reward {
  display: flex;
  background-color: #f9f9f9;
  width: 100%;
  height: fit-content;
  margin-bottom: 8px;
  border-radius: 3px;

  .checkboxContainer {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 50px;

    .container {
      display: block;
      position: relative;
      cursor: pointer;
      color: #b4aea4;
      font-size: 17px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover input ~ .checkmark {
        border: 1px solid $color-main;
        transition: border 0.2s;
      }

      input {
        margin: 20px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: $color-main;
          border: 1px solid $color-main;

          &::after {
            display: block;
          }
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: $border;

        &::after {
          content: '';
          position: absolute;
          display: none;
          left: 6px;
          top: 3px;
          width: 4px;
          height: 8px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }

  .rewardDetailsContainer {
    color: #00132c;
    padding: 24px 10px;

    .price {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .rewardName {
      margin-bottom: 10px;
      font-size: 14px;

      .amount {
        margin-left: 10px;
        font-size: 12px;
      }
    }

    p {
      margin-bottom: 10px;
      color: #686868;
      font-size: 12px;
      line-height: 16px;
    }

    .deliveryInfo {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      font-size: 12px;

      .line {
        width: 1px;
        height: 10px;
        margin: 0 4px;
        background-color: #000;
      }
    }
  }

  .option {
    display: flex;
  }
}
