.liked {
  width: 260px;
  height: 370px;
  //background-color: green;
  margin-right: 60px;
  margin-bottom: 20px;

  .imgBox {
    width: 260px;
    height: 230px;
    img {
      width: 100%;
      height: 100%;
    }

    .percentBox {
      font-size: 24px;
    }
  }

  .textBox {
    padding: 16px;
    background-color: yellow;

    .title {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 17px;
      line-height: 1.4117647059; //24px / 17px
    }

    .companyName {
      color: gray;
      padding-bottom: 16px;
      font-size: 13px;
    }

    .catagoryName {
      color: purple;
      font-size: 13px;
    }
  }
}
