@import '../../../../Style/common.scss';

.categoryContainer {
  margin: 90px auto;
  width: 1150px;

  .categoryList {
    display: flex;
    height: 120px;
    white-space: nowrap;
    overflow: auto;

    .categoryContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 20px;
      cursor: pointer;

      .categoryImg {
        width: 70px;
        height: 60px;
        border-radius: 20px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .categoryName {
        font-size: 14px;
        font-weight: 500;
        margin-top: 8px;
      }
    }
  }

  .categoryList::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

  .categoryList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}
