@import '../../../../Style/common.scss';

.purchaseStep {
  @extend %flex-center;
  margin: 30px 0 42px;

  .line {
    position: absolute;
    width: 300px;
    border-top: 1px dashed $gray-color;
  }

  .steps {
    display: flex;

    .stepOn,
    .stepOff {
      @extend %flex-center;
      position: relative;
      width: 90px;
      height: 90px;
      margin: 0 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 1.2;
    }

    .stepOn {
      background-color: #00c4c4;
      color: #fff;
    }

    .stepOff {
      border: dashed 0.5px $gray-color;
      background-color: #fff;
      color: #4a4a4a;
    }
  }
}
