@import '../../Style/common.scss';

.purchase {
  .productTitle {
    display: flex;
    align-items: center;
    background-color: #a29584;

    button {
      margin: 20px;
      border: none;
      background-color: inherit;
      color: #fff;
      font-size: 16px;
    }

    p {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 22px;
      color: #fff;
    }

    .makerImg {
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
    }
    .makerName {
      color: #fff;
      font-size: 14px;
    }
  }

  .purchaseStep {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

    .step1,
    .step2,
    .step3 {
      @extend %flex-center;
      width: 90px;
      height: 90px;
      margin: 0 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 1.2;
    }

    .step1 {
      background-color: $main-color;

      color: #fff;
    }
    .step2,
    .step3 {
      border: dashed 1px #000;
    }
  }
  .wrapper {
    margin: auto;
    width: 860px;

    header {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 40px;

      .sectionTitle {
        font-size: 18px;
        font-weight: 900;
        margin-right: 10px;
      }

      .sectionDescription {
        font-size: 14px;
      }

      a {
        position: absolute;
        text-align: right;
        font-size: 12px;
        color: $main-color;
        right: 0;
      }
    }

    .reward {
      display: flex;
      background-color: #f9f9f9;
      width: 100%;
      height: fit-content;
      border-radius: 3px;
    }

    .option1,
    .option2 {
      display: flex;
      align-items: center;
      margin-top: 40px;

      .sectionTitle {
        width: 200px;
        font-size: 18px;
        font-weight: 900;
      }
    }

    .fundingTotalInfo {
      text-align: center;
    }

    .nextBtn {
      height: 48px;
      padding: 0 30px;
      color: #fff;
      background-color: $main-color;
      border: none;
      border-radius: 3px;
      font-size: 17px;
    }
  }
  .orderDetails {
    width: 650px;
    height: 200px;
    background-color: #fdfdfd;

    .dd {
      display: flex;
      justify-content: space-between;
    }
  }
}
